#ssd {
    background-color: #e6f2ff;
}

#os {
    background-color: #d4edda;
}

#reset {
    background-color: #f8d7da; 
}

.premier {
    margin-top: 50px;
    margin-bottom: 125px;
    align-items: center;
}

.deuxieme {
    margin-bottom: 50px;
    align-items: center;
}


.description {
    color: #666;
    margin-bottom: 10px;
}

#prix {
    color: blue;
    font-weight: bold;
    text-align: center;
}

#achat {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#achat:hover {
    background-color: #0056b3;
}
